    <!-- Basic information section -->
    <section class="card d-flex flex-column m-2">
        <!-- Cover -->
        <div style="height: 400px;" class="bg-dark"></div>
        <!-- profile picture & edit button -->
        <div style="gap: 10px" class="d-flex px-4">
            <div style="width: 150px; height: 150px; margin-top: -75px" class="bg-light rounded-circle"></div>
            <a href="#edit" class="m-2"><i class="fa-solid fa-pencil"></i> Edit</a>
        </div>
        <!-- Name & info -->
        <div class="d-flex px-4 pb-2">
            <div>
                <h2>Juan Gauna</h2>
                <p>Estudiante de ingeniería informática</p>
                <p>Santa Fe, Argentina. <a href="#">Información de contacto.</a></p>
                <div style="gap: 8px" class="d-flex">
                    <a class="btn btn-primary" href="#">Tengo interés en</a>
                    <a class="btn btn-light" href="#">Añadir sección</a>
                    <a class="btn btn-light" href="#">Más</a>
                </div>
            </div>
        </div>
    </section>