<div style="gap: 15px" class="d-flex">
    <!-- Logo -->
    <div>
        <div style="width: 50px; height: 50px;" class="bg-dark rounded-circle"></div>
    </div>
    <!-- Info -->
    <div>
        <p style="font-size: 18px;" class="font-weight-bold m-0">Rol</p>
        <p style="font-size: 14px; color: #676767" class="m-0">Institución</p>
        <p style="font-size: 14px; color: #676767" class="m-0">Lapso</p>
        <p style="font-size: 14px; color: #676767" class="m-0">Ubicación</p>
    </div>
    <!-- Buttons -->
    <div class="ml-auto">
        <a href="#"><a href="#edit" class="m-2">Edit</a></a>
        <a href="#"><a href="#delete" class="m-2">Delete</a></a>
    </div>
</div>