<nav class="navbar bg-dark mb-5 px-3">
    <a class="navbar-brand text-white " href="./">
        <img style="width: 70px" src="../../../../assets/argentina-programa-logo.png" alt="Logo Argentina Programa" srcset="">
    </a>
    <ul class="nav ml-auto align-items-center">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fa-brands fa-github"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-light" href="#">
                Login
            </a>
        </li>
    </ul>
</nav>